/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
  }
  
  header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .logo img {
    width: 100px;
  }
  
  .login-button {
    float: right;
    margin-right: 20px;
    color: #fff;
  }
  
  main {
    padding: 20px;
  }
  
  /* Place list styles */
  #places-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .place-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .place-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
  }
  
  .details-button {
    display: block;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .details-button:hover {
    background-color: #0056b3;
  }
  
  /* Place details styles */
  #place-details {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
  }
  
  #place-details img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Add review styles */
  #add-review {
    display: none; /* Hidden by default, shown if authenticated */
  }
  
  #review-form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
  }
  
  #review-form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  #review-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #review-form button:hover {
    background-color: #0056b3;
  }
  
  /* Footer styles */
  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
  }